:host {
  display: block;
}

a {
  background: #fff;
  border-radius: 4px;
  display: block;
  width: fit-content;
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px #01479A;
  border-radius: 4px;
  color: #004A6C;
  transition: 0.2s transform ease;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.btn-primary {
  background: blue;
  color: #fff;
}